#create-unit {
    padding: var(--app-padding);
    background-color: var(--main-theme);
    color: var(--text-color-1);
    min-height: 100vh;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#create-unit .form-container span,
#create-unit .update-input-container span{
    display: block;       
}

#create-unit .input-title {
    width: 88px;
    line-height: 26px;
}

#create-unit form div.input-wrapper,
#create-unit .update-input-container > div{
    margin-top: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#create-unit span.error-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--span-error);
    line-height: 18px;
}

#create-unit .error-container {
    height: 20px;
}

#create-unit form.create {
    padding: 16px 8px;
    background-color: var(--sub-theme-1);
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
}

#create-unit input {
    height: 26px;
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 2px;
    color: var(--text-color-2);
    background-color: var(--input-back);
    color: var(--input-text);
    font-weight: 500;
}

#create-unit input:focus{
    border: 1px solid blue;
}

#create-unit .button-add {
    background-color: rgb(1, 145, 228);
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 4px;
}

#create-unit .button-add:hover {
    background-color: rgb(17, 140, 211);
}

#create-unit .submit {
    height: 32px;
}



#create-unit .unit-table-container {
    margin-top: 24px;
    border-radius: 4px;
    box-shadow:var(--box-shadow-1);
    position: relative;
}

#create-unit .success-log{
    position: fixed;
    right: 0;
    bottom: -46px;
    left: 0;
    height: 46px;
    background-color: rgb(39, 240, 156);
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    visibility: hidden;
    font-size: 1.2rem;
    opacity: 0.2;
    transition: .2s ease-in-out;
}

#create-unit .success-log.active {
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

#create-unit .form-title {
    display: block;
    font-size: 2rem;
    font-weight: 600;
}   

#create-unit .unit-update-wrapper {
    padding: 12px;
    position: relative;
}

#create-unit .unit-update-wrapper > div {
    display: flex;
    flex-direction: column;
}

#create-unit .unit-update-wrapper .unit-update-content{
    padding: 12px;
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
    /* background-color: white; */
}

#create-unit .update-title {
    font-size: 1.6rem;
    font-weight: 600;
}

#create-unit .update-button {
    border: none;
    padding: 4px 14px;
    background-color: rgb(255, 164, 27);
    border-radius: 3px;
}

#create-unit .update-button:hover {
    background-color: rgb(255, 182, 73);
}

#create-unit .update-button i {
    font-size: 1.6rem;
    color: rgb(27, 0, 146);
}


#create-unit .form-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
    border-radius: 4px;
}

#create-unit .add-input-container {
    display: flex;
    flex-direction: column;
}

#create-unit .input-content {
    border: 1px solid rgb(170, 170, 170);
    padding: 32px 24px;
    border-radius: 4px;
    margin-bottom: 16px;
}

#create-unit .close-update-button {
    position: absolute;
    right: 16px;
    top: 10%;
    z-index: 9;    
}

#create-unit .close-update-button button{
    border: none;
    padding: 0;
    background-color: transparent;
}

#create-unit .close-update-button button i {
    color: var(--close-button);
}

#create-unit .close-update-button button:hover i{
    color: var(--close-button-hover);
}

#create-unit .close-update-button i {
    font-size: 3rem;
    color: black;
    transition: .1s ease-in-out;
}

#create-unit .selected-row {
    background-color: var(--sub-theme-2);
}

#create-unit .row-item:hover {
    background-color: var(--sub-theme-2);
}

#create-unit button {
    border: none;
}

#create-unit .delete-button {
    padding: 0px 12px;
    font-size: 2rem;
    border-radius: 4px;
    color: white;
    background-color: rgb(252, 93, 81);
}

#create-unit .unit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

@media only screen and (max-width: 400px) {
    #create-unit form .input-wrapper,
    #create-unit .update-input-container > div {
        flex-direction: column;
    }

    #create-unit .input-content {
        padding: 16px 28px;
    }

}





