#unit-info-container {
    display: flex;
    box-shadow: var(--box-shadow-1);
    padding: 16px 8px;
    flex-wrap: wrap;
    position: relative;
    gap: 0px 24px;
    border-radius: 4px;
}

#unit-info-container .close-button {
    position: absolute;
    right: -4px;
    top: 1%;
}

#unit-info-container .close-button i {
    font-size: 3rem;
    color: var(--close-button);
}

#unit-info-container .close-button:hover i {
    color: var(--close-button-hover);
}

#unit-info-container .info-item {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

#unit-info-container span.item-title {
    width: 100px;
    display: block;
}

#unit-info-container button {
    border: none;
    background-color: transparent;
}

#unit-info-container .info-item span:nth-child(2) {
    background-color: rgb(255, 131, 30);
    display: block;
    padding: 3px 16px;
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    height: 28px;
}
