#cityzen-table {
    padding: var(--app-padding);
    padding-bottom: 400px;
    background-color: var(--main-theme);
    color: var(--text-color-1);
    min-height: 100vh;
}   

#cityzen-table .table {
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
    margin-top: 24px;
}

#cityzen-table button {
    outline: none;
    border: none;
    background-color: transparent;
}

#cityzen-table .popup-success{
    position: fixed;
    right: 0;
    bottom: -46px;
    left: 0;
    height: 46px;
    z-index: 99;
    background-color: rgb(39, 240, 156);
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    visibility: hidden;
    font-size: 1.4rem;
    opacity: 0.2;
    transition: .2s ease-in-out;
}

#cityzen-table .popup-success.active{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

#cityzen-table .loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 9;
    visibility: hidden;
    transition: 0.1s ease-in;
}

#cityzen-table .loading-wrapper.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.3);
}

#cityzen-table .multi-option-wrapper {
    display: flex;
    justify-content: flex-end;
}

#cityzen-table .multi-option-wrapper > div {
    display: flex;
    align-items: center;
    font-size: 2rem;
}   

#cityzen-table .option-item > span {
    padding: 2px 16px;
    display: block;
}

#cityzen-table .option-item:hover > span {
    background-color: var(--sub-theme-1);
    cursor: pointer;

}

#cityzen-table .selected-number > span {
    background-color: rgb(114, 158, 143);
    border-radius: 8px;
    color: white;
    width: 60px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding: 4px 16px;
    margin-left: 8px;
    display: block;
}

#cityzen-table .option-item.blur i {
    color: rgb(182, 182, 182);
}

#select-option .select-option,
#select-option .direct-option
{
    position: relative;
}

#select-option .popup-select {
    position: absolute;
    z-index: 9;
    background-color: white;
    box-shadow: 0 0 4px 4px rgba(134, 134, 134, 0.6);
    border-radius: 4px;
    visibility: hidden;
}

#select-option .select-option.active .popup-select,
#select-option .direct-option.active .popup-select
{
    visibility: visible;
}

#select-option .popup-select ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
}

#select-option li {
    padding: 8px 40px;
    color: rgb(99, 99, 99);
    font-size: 1.3rem;
}

#select-option li:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

#select-option .select-title {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 8px 12px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    transition: .1s ease-in-out;
}

#select-option .select-option.active .select-title,
#select-option .direct-option.active .select-title {
    border: 1px solid var(--explorer-color);
}

#select-option .select-title:hover {
    border: 1px solid var(--select-hover);
    cursor: pointer;
}

#select-option .select-option.active .select-title:hover,
#select-option .direct-option.active .select-title:hover {
    border: 1px solid var(--explorer-color);
}

#select-option i.bx-sort-alt-2{
    font-size: 2.1rem;
    font-weight: 800;
}

#select-option i.bxs-down-arrow{
    font-size: 1rem;
    transition: .16s ease-in-out;
}

#select-option .select-option.active i.bxs-down-arrow,
#select-option .direct-option.active i.bxs-down-arrow {
    transform: rotate(180deg);
}

#select-option .title-container {
    width: 100px;
}

#select-option .select-title span {
    text-align: center;
    transition: .1s ease-out;
    background-color: var(--main-theme);
    padding: 4px 8px;
    color: var(--text-color-1);
    position: absolute;
    top: 6px;
    left: 40px;
}

#select-option .select-option.active .select-title span,
#select-option .direct-option.active .select-title span {
    font-size: 1.1rem;
    color: var(--explorer-color);
    transform: translate(-20%, -70%);
}

#select-option {
    display: flex;
    margin-top: 48px;
    gap: 12px;
    margin-left: 12px;
}

/* cityzen-table */
#cityzen-table .search-table-container {
    margin-bottom: 12px;
}

#cityzen-table .search-table-container > div {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 4px 16px;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 0 3px 3px rgba(151, 151, 151, 0.6);
    border-radius: 15px;
    gap: 4px;
    color: rgb(24, 24, 24);
}

#cityzen-table .search-table-container i {
    color: rgb(167, 167, 167);
}

#cityzen-table .search-table-container input {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 1.5rem;
}

/* more info section */
#more-info-section {
    padding: 8px;
    position: relative;
}

#more-info-section .more-info-container {
    
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 56px;
    border-radius: 4px;
}

#more-info-section .item-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#more-info-section .item-container span:first-child {
    display: block;
    width: 100px;
}

#more-info-section .item-container span:nth-child(2) {
    background-color: orange;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    min-height: 36px;
    min-width: 56px;
}

#more-info-section .card-container {
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
    width: 360px;
}

#more-info-section .column-container {
    padding: 8px 24px 24px 24px;
}

#more-info-section .card-title {
    background-image: linear-gradient(to right, #00265e, #152d6d, #27347c, #383b8a, #494299);
    display: block;
    padding: 16px 16px;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    border-radius: 4px 4px 0 0;
}

#more-info-section .close-more-button{
    position: absolute;
    right: 8px;
    top: 8px;

}

#more-info-section .close-more-button i{
    font-size: 3rem;
    color: var(--close-button);
    transition: .1s ease-in-out;
}

#more-info-section .close-more-button i:hover{
    color: var(--close-button-hover);
}

#cityzen-table .update-wrapper {
    position: relative;
}

#cityzen-table .update-wrapper .close-more-button{
    position: absolute;
    top: 4px;
    right: 0px;
}

#cityzen-table .selected-item{
    background-color: var(--sub-theme-1);
}

#cityzen-table .row-item:hover {
    background-color: var(--sub-theme-1);
}

#cityzen-table .update-wrapper .close-more-button i {
    font-size: 3rem;
    color: var(--close-button);
}

#cityzen-table .update-wrapper .close-more-button i:hover {
    color: var(--close-button-hover);
}


#cityzen-table .table-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
} 

#cityzen-table .more-button {
    padding: 0px 12px;
    font-size: 2rem;
    border-radius: 4px;
    color: white;
    background-color: rgb(32, 151, 255);
}

#cityzen-table .update-button {
    padding: 0px 12px;
    font-size: 2rem;
    border-radius: 4px;
    color: white;
    background-color: rgb(255, 164, 27);
}

#cityzen-table .delete-button {
    padding: 0px 12px;
    font-size: 2rem;
    border-radius: 4px;
    color: white;
    background-color: rgb(252, 93, 81);
}

#cityzen-table .download-button {
    display: flex; 
    justify-content: flex-end;
}

#cityzen-table .download-button > button {
    background-color: var(--sub-theme-1);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

#cityzen-table .download-button > button i {
    font-size: 1.5rem
}

#cityzen-table .download-button > button:hover span {
    text-decoration: underline;
} 

@media only screen and (max-width: 500px) {
    #select-option .select-option .popup-select {
        left: 30%;
    }

    #select-option .direct-option .popup-select {
        right: 0;
    }

    #more-info-section .card-container {
        width: 300px;
    }

    #cityzen-table th, #cityzen-table td.text-overflow {        
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #cityzen-table #select-option {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1800px)  {
    #select-option .select-option .popup-select {
        left: 30%;
    }

    #select-option .direct-option .popup-select {
        right: 30%;
    }
}

@media only screen and (max-width: 500px) {
    #more-info-section .more-info-container {
        box-shadow: none;
        padding: 32px 8px;
    }
}