.like-file-surf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: blue;
}

.like-file-surf div:hover {
    cursor: pointer;
    text-decoration: line-through;
}

tr {
    border: none;
    outline: none;
}

table {
    border: none;
    outline: none;
}

tbody {
    border: none;
    outline: none;
}

.unit-table {
    margin-top: 44px;
}

.option-container {
    height: 64px;
    width: 100%;
}

