:root {
    --padding-exploreer: 40px;
    --explorer-line-break: 60%;   
    --app-padding: 56px 72px
}

.like-file-surf {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--explorer-color);
    font-size: 1.4rem;
    font-weight: 600;
    width: var(--explorer-line-break);
    overflow: hidden;
}

.like-file-surf div:hover {
    cursor: pointer;
    text-decoration: line-through;
}

tr {
    border: none;
    outline: none;
}

table {
    border: none;
    outline: none;
}

tbody {
    border: none;
    outline: none;
}

#app .unit-table {
    margin-top: 44px;
}

#app .option-container {
    width: 100%;
    margin-top: 32px;
}

#app .option-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px 0;
}

#app i {
    font-size: 2rem;
}

/* explorer */
#app .explorer-container {
    padding-left: var(--padding-exploreer);
}

#app .line-break {
    width: var(--explorer-line-break);
    height: 1px;
    background-color: var(--explorer-color);
}

#app {
    padding: var(--app-padding);
    background: var(--main-theme);
    position: relative;
    box-sizing: border-box;
    color: var(--text-color-1);
    min-height: calc(100vh - 60px);
}

#app .select-multiple-button {
    padding: 4px 16px;
}


#app .unit-table-container {
    position: relative;
}

#unit-table-container .search-table-container {
    margin-bottom: 12px;
}

#unit-table-container .table-container {
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
    margin-top: 16px;
}

#unit-table-container .table-container .more-button {
    border: none;
    border-radius: 4px;
    background-color: rgb(32, 151, 255);
    color: white;
    padding: 4px 8px;
}

#unit-table-container .search-table-container > div {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 4px 16px;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 0 3px 3px rgba(163, 163, 163, 0.6);
    border-radius: 15px;
    gap: 4px;
}

#unit-table-container .row-selected {
    background-color: var(--sub-theme-2);
}

#unit-table-container .search-table-container i {
    color: rgb(167, 167, 167);
}

#unit-table-container .search-table-container input {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 1.5rem;
    color: rgb(105, 105, 105);
}

#unit-table-container .row-item:hover{
    cursor: pointer;
    background-color: var(--sub-theme-2);
}

@media only screen and (max-width: 900px) {
    :root {
        --padding-exploreer: 0px;
        --explorer-line-break: 85%;   
        --app-padding: 12px 32px
    }    
}

@media only screen and (max-width: 600px) {
    :root {
        --explorer-line-break: 100%;
        --app-padding: 12px 12px
    }    
}




