#chart-session {
    padding: var(--app-padding);
    background-color: var(--main-theme);
    color: var(--text-color-1);
    min-height: 100vh;
}

#chart-session .charts-group{
    display: flex;
    box-shadow: var(--box-shadow-1);
    flex-wrap: wrap;
    border-radius: 8px;
    opacity: 1;
    padding: 16px 0;
    background-color: var(--sub-theme-1);
}

#chart-session tspan, #chart-session text{
    color: var(--text-color-1);
}

#chart-session .chart-item{
    flex: 1;
    display: flex;
    justify-content: center;
}

#fade-in-section {
    margin-top: 72px;
    opacity: 0;
    transform: translate(0, 50px);
    visibility: hidden;
    transition: opacity 600ms ease-in-out, transform 600ms ease-out;
    will-change: opacity, visibility;
}

#fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

#fade-in-section .title {
    font-size: 1.8rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    #chart-session .charts-group {
        flex-direction: column;
    }
}

