#option-button-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#option-button-container > div {
    padding: 4px 16px;
}

#option-button-container div {
    color: var(--active-color);
}

#option-button-container .option-button:hover{
    cursor: pointer;
    background-color: var(--sub-theme-2);
}

#option-button-container div > span {
    display: block;
}

#option-button-container .select-title {
    background-color: rgb(114, 158, 143);
    border-radius: 8px;
    color: white;
    width: 60px;
    text-align: center;
}

#option-button-container .blur{
    color: var(--disable-color);
}

