#login {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#login .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 56px;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 4px;
}

#login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login .login-title {
    margin-bottom: 16px;
}

#login .login-title {
    color: rgb(194, 194, 194);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

#login input {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    border-radius: 18px/18px;
    outline: none;
    color: white;
}

#login .login-button button{
    color: white;
    background-color: rgb(219, 132, 1);
    border: none;
    border-radius: 18px/18px;
    padding: 8px 16px;
    font-weight: 600;
    margin-top: 16px;
}

#login .login-button button:hover {
    background-color: rgb(255, 156, 8);
}

#login input:hover, #login input:focus {
    border: none;
    background-color: black;
}

#login form input {
    width: 240px;
}

#login .pop-err {
    color: rgb(172, 18, 18);
    font-size: 1.1rem;
}

#login .wall-image img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}


