#export-excel .download{
    border: none;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--sub-theme-1);
}

#export-excel .download:hover span{
    text-decoration: underline;
}