#create-account {
    padding: var(--app-padding);
    background-color: var(--main-theme);
    color: var(--text-color-1 );
    min-height: 100vh;
    position: relative;
}

#create-account input {
    background-color: var(--input-back);
    color: var(--input-text);
    outline: none;
    border: 1px solid rgb(90, 90, 90);
}

#create-account input:focus {
    border: 1px solid blue;
}

#create-account .form-container {
    border-radius: 4px;
    display: flex;
}

#create-account .form-container > form {
    background-color: var(--sub-theme-1);
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
    padding: 16px 32px;
}

#create-account .form-container div ,
#create-account .update-form-container div{
    display: flex;
    margin-bottom: 2px;
}

#create-account .update-form-container {
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--sub-theme-1);
}



#create-account .input-title {
    width: 100px;
}

#create-account .selected-row {
    background-color: var(--sub-theme-1);
}

#create-account .row-item:hover {
    background-color: var(--sub-theme-1);
}

#create-account .input-container {
    display: flex;
    flex-direction: column;
}

#create-account .error-container {
    font-size: 1.1rem;
    font-weight: 500;
    height: 20px;
}

#create-account span.input-error {
    color: var(--span-error);
}

#create-account span.input-ok {
    color: rgb(0, 175, 102);
}

#create-account .submit-container {
    margin-top: 16px;
    height: 32px;
}

#create-account .time-out-container {
    margin-top: 16px;
    height: 28px;
}

#create-account .update-button {
    border: none;
    padding: 4px 14px;
    background-color: rgb(255, 164, 27);
    border-radius: 3px;
    color: white;
}

#create-account .account-update-wrapper {
    padding: 12px;
    position: relative;
}

#create-account .close-update-button {
    position: absolute;
    right: 16px;
    top: 5%;
    z-index: 9;
}

#create-account .close-update-button button{
    border: none;
    padding: 0;
    background-color: transparent;
}

#create-account .popup-success{
    position: fixed;
    right: 0;
    bottom: -46px;
    left: 0;
    height: 46px;
    z-index: 99;
    background-color: rgb(39, 240, 156);
    color: black;
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
    visibility: hidden;
    font-size: 1.4rem;
    opacity: 0.2;
    transition: .2s ease-in-out;
}

#create-account .popup-success.active{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

#create-account .close-update-button i {
    font-size: 3rem;
    color: var(--close-button);
    transition: .1s ease-in-out;
}

#create-account .close-update-button i:hover {
    color: var(--close-button-hover);
}

#create-account .table-container {
    margin-top: 32px;
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
}

#create-account .ok-button {
    background-color: rgb(1, 145, 228);
}

#create-account .remove-button {
    background-color: rgb(228, 137, 1);
}

#create-account .ok-button i,
#create-account .remove-button i{
    font-size: 1.6rem;
}

#create-account .remove-button,
#create-account .ok-button{
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 4px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
    
    #create-account .form-container div ,
    #create-account .update-form-container div {
        flex-direction: column;
    }
}